:root {
    color-scheme: light dark;
}

body {
    width: 300px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
